.cards {
    border: 1px solid #e3e1e1;
   /*  
    background-color: #BCBD8B;
    border-radius: 10px; */
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto {
    width: 150px;
    object-fit: contain;
    border-radius:4rem;
}


.btnProducto {
    border: 1px solid #e3e1e1;
    background-color: #fafafa;
    color: black;
    font-size: 1rem;
    width: 10rem;
    height: 2.5rem;
    margin: 1rem;
}